body{
	background-color: lightgoldenrodyellow;

}
h1{font-size: 40px;
	color: red;
}

h2{ color: red;
font-size: 60px;}

.big{font-size: 14px;
}

.uppercase{text-transform: uppercase;
}
.big.uppercase{color: navy;
}

h1 span{
	color: purple;
}